@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.nav-link{
		@apply inline-block rounded px-1 sm:px-2;
	}
	.nav-link:hover{
		@apply bg-[#ebebeb];
	}
	.about-link:hover, .about-link:active, .project-link:hover, .project-link:active {
		@apply underline underline-offset-2;
	}
	.special-link{
		@apply text-[#196edb];
	}
}

body{
    background: #FDFCFA;
}

.prose a:hover{
	opacity: 0.8;
}

#about p{
	margin-bottom: 1.5rem;
}

#about p a{
	color: #196edb;
}

#about p a:hover{
	text-decoration-line: underline;
	text-underline-offset: 2px;
}

#updates li p{
	display: inline;
}
